<!DOCTYPE html>
<html _="on load or resize from window set global width to window.innerWidth">

    <head>
        <!--
        ██████╗ ██╗  ██╗██╗███████╗ ██████╗ ███╗   ███╗███████╗
        ██╔══██╗██║  ██║██║╚══███╔╝██╔═══██╗████╗ ████║██╔════╝
        ██████╔╝███████║██║  ███╔╝ ██║   ██║██╔████╔██║█████╗  
        ██╔══██╗██╔══██║██║ ███╔╝  ██║   ██║██║╚██╔╝██║██╔══╝  
        ██║  ██║██║  ██║██║███████╗╚██████╔╝██║ ╚═╝ ██║███████╗
        ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
        -->
        <title>{{ title }} | RHIZOME Tracker</title>
        <meta name="viewport" content="width=device-widt1h, initial-scale=1, maximum-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        {% block head_meta %}{% endblock %}
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
        <link rel="stylesheet" href="/static/css/style.css?{{ NOW }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
        {% block head_scripts %}{% endblock %}
    </head>

    <body class="flex flex-col min-h-screen subpixel-antialiased text-gray-100 bg-black">
        <header class="flex items-center justify-between p-4">
            <h1 class="font-bold text-3xl">
                <a href="/" class="hover:underline hover:text-cyan-500">RHIZOME</a>
            </h1>
            <nav>
                <ul class="flex gap-4">
                    <li>
                        <a href="/tools/" class="text-lg font-semibold hover:underline hover:text-cyan-500">
                            Tools
                        </a>
                    </li>
                    <li>
                        <a href="/governance/" class="text-lg font-semibold hover:underline hover:text-cyan-500">
                            Governance
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="flex flex-col flex-1 w-full gap-3 p-3 overflow-y-auto items-center">
            {% block container %}{% endblock %}
        </main>
    </body>

</html>