<div id="icx-staking-rewards-exporter"
    class="flex flex-col gap-8 w-full max-w-3xl border border-gray-800 p-8 md:p-12 mx-auto bg-gray-900 rounded-lg">
    <header id="icx-staking-rewards-exporter-header" class="flex flex-col items-center gap-1">
        <h1 class="text-4xl font-bold text-center">ICX Staking Rewards Exporter</h1>
        <p class="text-gray-400">Get a detailed report of your ICX staking reward claims.</p>
    </header>
    <form id="icx-staking-rewards-exporter-form" class="flex flex-col gap-4"
        hx-post="/tools/htmx/icx-staking-rewards-exporter/" hx-target="#icx-staking-rewards-exporter-result"
        hx-swap="outerHTML" hx-indicator="#loading">
        <div class="flex gap-4">
            <input id="icx-address"
                class="rounded-md grow bg-gray-900 border border-gray-800 px-4 py-3 text-lg w-[42ch] font-mono"
                type="text" name="icxAddress" placeholder="hx..." />
            <select id="year" name="year"
                class="rounded-md bg-gray-900 border border-gray-800 px-4 py-3 text-lg font-mono">
                {% for year in range(2021, 2023) %}
                <option {% if loop.last %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <button
            class="rounded-md bg-purple-800 border border-purple-700 px-4 py-3 font-bold text-lg hover:bg-purple-900 flex gap-2 items-center justify-center">
            <span class="ml-6">Submit</span>
            {% include "partials/loading_svg.html" %}
        </button>
    </form>
    <div id="icx-staking-rewards-exporter-result" class="hidden"></div>
</div>