<div>
    <table class="font-robotomono">
        <tr>
            <th class="whitespace-nowrap px-4 py-1 text-left border border-gray-800">Token</th>
            <th class="whitespace-nowrap px-4 py-1 text-left border border-gray-800">Amount</th>
        </tr>
        {% for token in stability_fund_tokens %}
        <tr>
            <td class="whitespace-nowrap px-4 py-1 text-left border border-gray-800">{{ token.symbol }}</td>
            <td class="whitespace-nowrap px-4 py-1 text-left border border-gray-800">{{ format_number(token.amount) }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>