{% import "partials/macros/icx_address.html" as icx_address %}

<thead>
    <tr class="text-left bg-gray-900">
        <th id="validator-index" class="whitespace-nowrap px-3 py-2 text-center border-2 border-gray-800">#</th>
        <th id="validator-name" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Name</th>
        <th id="validator-cps" class="whitespace-nowrap px-3 py-2 text-center border-2 border-gray-800">CPS</th>
        <th id="validator-delegated" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Delegation</th>
        <th id="validator-power" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Power</th>
        <th id="validator-bond" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Bond</th>
        <th id="validator-productivity" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Productivity</th>
        <th id="validator-daily-reward" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Daily Reward</th>
        <th id="validator-monthly-reward" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Monthly Reward
        </th>
        <th id="validator-yearly-reward" class="whitespace-nowrap px-3 py-2 border-2 border-gray-800">Yearly Reward</th>
    </tr>
</thead>
<tbody>
    {% for validator in validators %}
    <tr>
        <td id="{{ validator.address }}-index"
            class="whitespace-nowrap px-3 py-2 text-left text-center border-2 border-gray-800">
            {{ loop.index }}
        </td>
        <td id="{{ validator.address }}-identity"
            class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            <div class="flex gap-2">
                <div class="w-12 h-12">
                    {% if (validator.address + "_128px.png") in validator_images %}
                    <img id="{{ validator.address }}-logo"
                        src="/static/images/validators/{{ validator.address }}_128px.png"
                        class="rounded-full border-2 p-0.5 border-gray-800 block" />
                    {% else %}
                    <img id="{{ validator.address }}-logo" src="/static/images/validators/validator_128px.png"
                        class="rounded-full border-2 p-0.5 border-gray-800 block" />
                    {% endif%}
                </div>
                <div class="grow">
                    <p id="{{ validator.address }}-name" class="font-bold">{{ validator.name }}</p>
                    <p id="{{ validator.address }}-address" class="text-cyan-500 text-sm">
                        {{ icx_address.format(validator.address, font_size="text-sm") }}
                    </p>
                </div>
            </div>
        </td>
        <td id="{{ validator.address }}-cps"
            class="whitespace-nowrap px-3 py-2 text-left text-center border-2 border-gray-800">
            {% if validator.cps == True %}
            <p class="text-green-500">YES</p>
            {% else %}
            <p class="text-red-500">NO</p>
            {% endif %}
        </td>
        <td id="{{ validator.address }}-delegated"
            class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            {{ format_number(validator.delegated, decimal_places=0) }} ICX
        </td>
        <td id="{{ validator.address }}-power" class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            {{ format_number(validator.power, decimal_places=0) }} ICX
        </td>
        <td id="{{ validator.address }}-bond" class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            {% set bond_ratio = (validator.bonded / validator.delegated) %}

            {% if bond_ratio != 0 %}
            {% if bond_ratio >= 0.05 %}
            {% set bond_ratio_text_color = "text-green-500" %}
            {% elif bond_ratio < 0.05 and bond_ratio > 0.04 %}
            {% set bond_ratio_text_color = "text-yellow-500" %}
            {% elif bond_ratio < 0.04 and bond_ratio > 0.03 %}
            {% set bond_ratio_text_color = "text-orange-500" %}
            {% elif bond_ratio < 0.03%}
            {% set bond_ratio_text_color = "text-red-500" %}
            {% endif %}
            {% endif %}

            <p class="{{ bond_ratio_text_color }}">{{ format_percentage(bond_ratio) }}</p>
            <p class="text-sm text-gray-400">{{ format_number(validator.bonded, decimal_places=0) }} ICX</p>
        </td>
        <td id="{{ validator.address }}-productivity"
            class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            {% if validator.total_blocks != 0 %}
            {% if validator.productivity > 0.99 %}
            {% set validator_text_color = "text-green-500" %}
            {% elif validator.productivity < 0.99 and validator.productivity > 0.98%}
            {% set validator_text_color = "text-yellow-500" %}
            {% elif validator.productivity < 0.98 and validator.productivity > 0.97%}
            {% set validator_text_color = "text-orange-500" %}
            {% elif validator.productivity < 0.97%}
            {% set validator_text_color = "text-red-500" %}
            {% endif %}
            {% endif %}
            <button class="{{ validator_text_color }} hover:underline"
                hx-get="/governance/htmx/node-status-check-modal/?address={{ validator.address }}"
                hx-target="#node-status-check-modal">
                {{ format_percentage(validator.productivity) }}
            </button>
            <p class="text-sm text-gray-400">
                {{ format_number(validator.validated_blocks) }}/{{ format_number(validator.total_blocks) }}
            </p>
        </td>
        <td id="{{ validator.address }}-daily-reward"
            class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            <p>{{ format_number(validator.reward_daily) }} ICX</p>
            <p class="text-sm text-gray-400">
                {{ format_number(validator.reward_daily_usd) }} USD
            </p>
        </td>
        <td id="{{ validator.address }}-monthly-reward"
            class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            <p>{{ format_number(validator.reward_monthly) }} ICX</p>
            <p class="text-sm text-gray-400">
                {{ format_number(validator.reward_monthly_usd) }} USD
            </p>
        </td>
        <td id="{{ validator.address }}-yearly-reward"
            class="whitespace-nowrap px-3 py-2 text-left border-2 border-gray-800">
            <p>{{ format_number(validator.reward_daily * 365) }} ICX</p>
            <p class="text-sm text-gray-400">
                {{ format_number(validator.reward_daily_usd * 365) }} USD
            </p>
        </td>
    </tr>
    {% endfor %}
</tbody>