{% extends "base.html" %}

{% block container %}
<div id="container" class="flex flex-col w-full max-w-6xl gap-8 py-16">
    <header class="flex flex-col gap-4">
        <h1 class="sm:text-4xl md:text-5xl text-3xl font-bold">Address</h1>
        <h1 class="font-mono text-2xl font-bold">{{ data.address[:12] }}...{{ data.address[-12:] }}</h1>
    </header>

    <div class="md:grid-cols-4 grid grid-cols-2 gap-4">
        <div class="grow p-4 bg-gray-900 border-2 border-gray-800">
            <header>
                <h2 class="whitespace-nowrap text-sm font-bold text-gray-400 uppercase">Balance</h2>
            </header>
            <p class="whitespace-nowrap xl:text-2xl text-xl">
                {{ format_number(data.balance, decimal_places=4) }} ICX</p>
        </div>
        <div class="grow p-4 bg-gray-900 border-2 border-gray-800">
            <header>
                <h2 class="whitespace-nowrap text-sm font-bold text-gray-400 uppercase">Transactions</h2>
            </header>
            <p class="whitespace-nowrap xl:text-2xl text-xl">
                {{ format_number(data.address_details.transaction_count) }}</p>
        </div>
        <div class="grow p-4 bg-gray-900 border-2 border-gray-800">
            <header>
                <h2 class="whitespace-nowrap text-sm font-bold text-gray-400 uppercase">Token Transfers</h2>
            </header>
            <p class="whitespace-nowrap xl:text-2xl text-xl">
                {{ format_number(data.address_details.token_transfer_count) }}</p>
        </div>
        <div class="grow p-4 bg-gray-900 border-2 border-gray-800">
            <header>
                <h2 class="whitespace-nowrap text-sm font-bold text-gray-400 uppercase">Token Transfers</h2>
            </header>
            <p class="whitespace-nowrap xl:text-2xl text-xl">
                {{ format_number(data.address_details.token_transfer_count) }}</p>
        </div>
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-4xl font-bold">dApp Overview</h2>


        <div hx-get="/address/htmx/dapp-overview/{{ data.address }}/" hx-trigger="load, every 60s"></div>

    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-4xl font-bold">Tokens</h2>
        {% for token_balance in data.token_balances %}
        {{ token_balance }}
        {% endfor %}
    </div>

    <div class="flex flex-col gap-4">
        <h2 class="text-4xl font-bold">Transactions</h2>
        {% for token_balance in data.token_balances %}
        {{ token_balance }}
        {% endfor %}
    </div>

</div>
{% endblock %}